@charset "UTF-8";
.csNotLogin {
	display: flex;
	flex-direction: row;
	font-family: Arial, sans-serif;
	font-size: 14px;
	white-space: nowrap;
	text-align: center;
	justify-content: space-between;
	background-color: #fafafa;
	width: 1620px;
}

/* 사이드바 스타일 */
.navbar {
	display: flex;
	justify-content: space-between;
	/* justify-content: center; */
	align-items: center;
	background-color: #fdfdfd;
	height: 150px;
	width: 300px;
	padding: 0;
}

.notLoginSidebar {
	background-color: #fdfdfd;
	border-right: 1px solid #ddd;
	padding: 14px;
	box-sizing: border-box;
	width: 400px;
	
}

.sidebar {
	border-right: 1px solid #fdfdfd;
	
}

ul {
	list-style-type: none;
	padding: 0 0 0 130px;
}

/* 메뉴와 아이콘 정렬 */
.sidebar ul li {
	display: flex;
	flex-direction: row;
	margin: 50px 0;
}


.sidebar ul li a {
	text-decoration: none;
	color: #333;
	font-size: 20px;
	font-weight: bold;
	color: inherit;
}

/* 마우스 올렸을때 아이콘 색과 글씨 색 변경 */
.mainHover a:hover {
	color: #ff4714;
}

.mainHover a:hover img {
	content: url("../images/cs/고객센터_icon_after.png");
}

.commonHover a:hover {
	color: #ff4714;
}

.commonHover a:hover img {
	content: url("../images/cs/cs상세카테고리_icon_after.png");
}



/* 가운데 모든 내용 전체 틀 */
.pleaseLogin {
	display: flex;
	flex-direction: column;
	width: 1320px;
}

/* 제목 */
h1 {
	margin-top: 70px;
}

/* 안내멘트 */
.guideMent {
	font-size: 15px;
	margin: 10px;
}

/* 로그인, 돌아가기 버튼 */
.choiceButton {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 70px;
}

.choiceButton a {
	float: left;
	background-color: #fdfdfd;
	border-style:solid;
	border-width:2px;
	border-color: #ff4714;
	color: #070707;
	text-align: center;
	margin: 30px;
	padding: 15px 50px;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	width: 200px;
}

/* 메뉴에 커서 올렸을때 색*/
.choiceButton a:hover {
  background-color: #ff4714;
  color: #fdfdfd;
  font-weight: bold;
}

/* 메뉴를 눌렀을때 변경된 색이 그대로 머물도록 */
.choiceButton a.active {
    background-color: #ff4714; 
    color: #fdfdfd;
    font-weight: bold;
}